<template lang="html">
  <div id="nav">
    <b-navbar toggleable="md" type="dark" variant="dark">
      <b-container>
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

    <b-navbar-brand :to="{name: 'Home'}">Sistema de acceso</b-navbar-brand>

    <b-collapse is-nav id="nav_collapse">
      <b-navbar-nav>
        <b-nav-item-dropdown left>
          <!-- Using button-content slot -->
          <template slot="button-content">
            <em>App</em>
          </template>
          <b-dropdown-item :to="{name: 'Eventos'}">Eventos</b-dropdown-item>
          <b-dropdown-item :to="{name: 'Credenciales'}">Credenciales</b-dropdown-item>
          <b-dropdown-item :to="{name: 'Molinetes'}">Molinetes</b-dropdown-item>
          <b-dropdown-item :to="{name: 'Lecturas'}">Lecturas</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>

      <b-navbar-nav>
        <b-nav-item :to="{name: 'About'}">Acerca de la App</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">

        <b-nav-item-dropdown right>
          <!-- Using button-content slot -->
          <template slot="button-content">
            <em>User</em>
          </template>
          <b-dropdown-item href="#">Profile</b-dropdown-item>
          <b-dropdown-item href="#">Sigin</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>

    </b-collapse>
  </b-container>
  </b-navbar>
  <!-- <router-vue/> -->
  </div>
</template>

<script>
export default {
  name: 'MenuBar'
}
</script>

<style lang="css" scoped>
</style>
