<template lang="html">
  <div class="">
    <b-form inline v-on:submit.prevent="guardar(nombrePropietario)">
      <!-- <label class="sr-only" for="evento">Evento</label> -->
      <h6>Propietario de la credencial:</h6>
      <b-input class="mb-2 mr-sm-2 mb-sm-0" id="evento" placeholder="Ingrese nombre" type="text" v-model="nombrePropietario"
                @keyup.enter="guardar(nombrePropietario)"/>
      <b-button variant="primary" @click="guardar(nombrePropietario)">Guardar</b-button>
    </b-form>
  </div>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  name: 'AltaCredencial',
  data () {
    return {
      nombrePropietario: ''
    }
  },
  methods: {
    ...mapActions(['Credencial/guardarCredencial']),
    guardar (propietarioCredencial) {
      if (propietarioCredencial !== '') {
        this['Credencial/guardarCredencial'](propietarioCredencial)
        this.nombrePropietario = ''
      } else {
        alert('Debe ingresar un nombre')
      }
    }
  }
}
</script>

<style lang="css" scoped>
</style>
