<template lang="html">
  <div class="">
    <b-container>
      <b-row>
        <b-table responsive hover small :items="credenciales" :fields="fields">
          <template slot="remove" slot-scope="data">
            <b-button @click="removeRow(data.item.id)" variant="danger" size="sm">X</b-button>
          </template>
        </b-table>
      </b-row>
    </b-container>

    <b-container class="bv-example-row">
      <b-row>
        <b-col>
          <b-pagination size="md" :total-rows="filasTotales" v-model="currentPage" :per-page="limit" @input="paginarCredenciales(currentPage)">
          </b-pagination>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
/* eslint-disable */
import {mapState, mapActions} from 'vuex'
import {serviceCredencial} from '@/services/credencial.js'

export default {
  name: 'TablaCredenciales',
  data () {
    return {
      filasTotales: 10,
      limit: 5,
      currentPage: 1,
      fields: [
        {
          key: 'id',
          label: 'Id',
          sortable: true
        },
        {
          key: 'propietario',
          label: 'Propietario',
          sortable: true
        },
        {
          key: 'remove',
          label: 'Eliminar'
        }
      ]
    }
  },
  computed: {
    ...mapState({credenciales: state => state.Credencial.credenciales})
  },
  methods: {
    ...mapActions(['Credencial/obtenerCredenciales', 'Credencial/eliminarCredencial']),
    paginarCredenciales (currentPage) {
      this['Credencial/obtenerCredenciales']({pagina: currentPage, limite: this.limit})
    },
    removeRow (id) {
      this['Credencial/eliminarCredencial'](id)
    }
  },
  created () {
    serviceCredencial.contar()
    .then((response) => {
      console.log(response)
      this.filasTotales = response.data.total
    })
    .catch((err) => {
      console.log(err)
    })
    this['Credencial/obtenerCredenciales']({pagina: this.currentPage, limite: this.limit})
  }
}
</script>

<style lang="css" scoped>
</style>
