<template>
<div style="text-align:left">
  <b-button v-b-modal.AltaLectura v-b-tooltip.hover title="Crear nueva lectura...">Crear nueva lectura</b-button>

  <b-modal size="lg" id="AltaLectura" ref="modal" title="Nueva lectura" @cancel="cancelarForm" @ok="procesarForm" @shown="limpiarForm">
    <form @submit.stop.prevent="registrarLectura">
      <!-- <p style="text-align:left"><b>Propietario: {{cuentaCorrienteSeleccionada.propietario}}</b></p> -->
      <p style="text-align:left">Evento:</p>
      <b-form-input type="number" v-model="evento" placeholder="Id de evento" required></b-form-input>
      <b-button variant="danger" @click="mostrarEventos = !mostrarEventos">
        <div v-if="!mostrarEventos">Mostrar eventos...</div>
        <div v-else>Ocultar eventos...</div>
      </b-button>
      <div v-if="mostrarEventos">
        <GridEventos></GridEventos>
      </div>

      <p style="text-align:left">Molinete:</p>
      <b-form-input type="number" v-model="molinete" placeholder="Id de molinete" required></b-form-input>
      <b-button variant="danger" @click="mostrarMolinetes = !mostrarMolinetes">
        <div v-if="!mostrarMolinetes">Mostrar molinetes...</div>
        <div v-else>Ocultar molinetes...</div>
      </b-button>
      <div v-if="mostrarMolinetes">
        <TablaMolinetes></TablaMolinetes>
      </div>

      <br>
      <p style="text-align:left">Credencial:</p>
      <b-form-input type="number" v-model="credencial" placeholder="Id de credencial" required></b-form-input>
      <b-button variant="danger" @click="mostrarCredenciales = !mostrarCredenciales">
        <div v-if="!mostrarCredenciales">Mostrar credenciales...</div>
        <div v-else>Ocultar credenciales...</div>
      </b-button>
      <div v-if="mostrarCredenciales">
        <TablaCredenciales></TablaCredenciales>
      </div>
    </form>
  </b-modal>
</div>
</template>

<script>
/* eslint-disable */
import {
  mapState,
  mapActions
} from 'vuex'
import GridEventos from '@/components/eventos/TablaEventos.vue'
import TablaCredenciales from '@/components/credenciales/TablaCredenciales.vue'
import TablaMolinetes from '@/components/molinetes/TablaMolinetes.vue'

export default {
  name: 'ModalRegistrarLectura',
  components: {
    GridEventos,
    TablaCredenciales,
    TablaMolinetes
  },
  data() {
    return {
      evento: '',
      molinete: '',
      credencial: '',
      mostrarEventos: false,
      mostrarCredenciales: false,
      mostrarMolinetes: false
    };
  },
  mutations: {
    ...mapState({
      lecturas: state => state.Lectura.lecturas
    })
  },
  methods: {
    ...mapActions(['Lectura/registrar']),
    registrarLectura() {
      this['Lectura/registrar']({
        evento: this.evento,
        molinete: this.molinete,
        credencial: this.credencial
      });
      this.limpiarForm()
    },
    procesarForm (evt) {
      evt.preventDefault()
      if (this.molinete !== '' && this.evento !== '' && this.credencial !== '') {
        this.registrarLectura()
        this.$refs.modal.hide()
      } else {
        alert('Complete los campos necesarios.')
      }
    },
    cancelarForm () {
      this.limpiarForm()
    },
    limpiarForm () {
      this.evento = ''
      this.molinete = ''
      this.credencial = ''
    }
  }
};
</script>
