<template lang="html">
  <div class="">
  <b-form inline v-on:submit.prevent="listarMovimientosEvento(evento)">
    <!-- <label class="sr-only" for="evento">Evento</label> -->
    <h6>Ingrese código de evento:</h6>
    <b-input class="mb-2 mr-sm-2 mb-sm-0" id="evento" placeholder="Buscar evento" type="number" v-model="evento"
              @keyup.enter="listarMovimientosEvento(evento)"/>
    <b-button variant="primary" @click="listarMovimientosEvento(evento)">Buscar</b-button>
    <div v-if="evento != ''">
      <b-button variant="danger" @click="listarTodosLosMovimientos">Listar todos</b-button>
    </div>
  </b-form>
    <b-container>
      <b-row>
        <h6>Total de movimientos: {{filasTotales}}</h6>
        <b-table responsive hover small :items="lecturas" :fields="fields" @row-clicked="myRowClickHandler">
        </b-table>
      </b-row>
    </b-container>

    <b-container class="bv-example-row">
      <b-row>
        <b-col>
          <b-pagination size="md" :total-rows="filasTotales" v-model="currentPage" :per-page="limit" @input="paginarLecturas(currentPage)">
          </b-pagination>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
/* eslint-disable */
import {mapState, mapActions} from 'vuex'
import {
  serviceLectura
} from '@/services/lectura.js'

export default {
  name: 'TablaLecturas',
  data () {
    return {
      filasTotales: 10,
      currentPage: 1,
      limit: 4,
      evento: '',
      fields: [
        {
          key: 'id',
          label: 'Id',
          sortable: true
        },
        {
          key: 'evento_rel.nombre',
          label: 'Evento',
          sortable: true
        },
        {
          key: 'molinete_rel',
          label: 'Molinete',
          sortable: true
        },
        {
          key: 'credencial_rel.propietario',
          label: 'Credencial',
          sortable: true
        },
        {
          key: 'fecha',
          label: 'Fecha'
        }
      ]
    }
  },
  computed: {
    ...mapState({lecturas: state => state.Lectura.lecturas})
  },
  methods: {
    ...mapActions(['Lectura/obtenerLecturas', 'Lectura/obtenerLecturaEvento']),
    myRowClickHandler (record) {

    },
    listarMovimientosEvento (evento) {
      if (evento >= 1) {
        this['Lectura/obtenerLecturaEvento']({evento: evento, pagina: this.currentPage, limite: this.limit})
        serviceLectura.contar(evento)
        .then((response) => {
          console.log('TOTAL', response.data.CantidadLecturas)
          this.filasTotales = response.data.CantidadLecturas
        })
        .catch((err) => {
          console.log(err)
        })
      } else {
        alert('Busca eventos mayor a 1.')
      }
    },
    paginarLecturas (currentPage) {
      this['Lectura/obtenerLecturas']({pagina: this.currentPage, limite: this.limit})
    },
    listarTodosLosMovimientos () {
      serviceLectura.total()
        .then((response) => {
          this.filasTotales = response.data.total
        })
        .catch((err) => {
          console.log(err)
        })
      this['Lectura/obtenerLecturas']({pagina: this.currentPage, limite: this.limit})
    }
  },
  mounted () {
    this.listarTodosLosMovimientos()
  }
}
</script>

<style lang="css" scoped>
</style>
