<template lang="html">
<div style="text-align:left">
    <b-button variant="primary" @click=crearMolinete>Crear molinete</b-button>
</div>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  name: 'AltaMolinete',
  methods: {
    ...mapActions(['Molinete/crearMolinete']),
    crearMolinete () {
      this['Molinete/crearMolinete']()
    }
  }
}
</script>

<style lang="css" scoped>
</style>
