<template lang="html">
  <div class="">
    <b-form inline v-on:submit.prevent="guardar(nombre)">
      <!-- <label class="sr-only" for="evento">Evento</label> -->
      <h6>Ingrese en nombre del evento:</h6>
      <b-input class="mb-2 mr-sm-2 mb-sm-0" id="evento" placeholder="Ingrese nombre" type="text" v-model="nombre"
                @keyup.enter="guardar(nombre)"/>
      <b-button variant="primary" @click="guardar(nombre)">Guardar</b-button>
    </b-form>
  </div>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  name: 'AltaEvento',
  data () {
    return {
      nombre: ''
    }
  },
  methods: {
    ...mapActions(['Evento/guardarEvento']),
    guardar (evento) {
      this['Evento/guardarEvento'](evento)
      this.nombre = ''
    }
  }
}
</script>

<style lang="css" scoped>
</style>
