<template lang="html">
  <div class="">
    <b-container>
      <b-row>
        <b-table responsive hover small :items="eventos" :fields="fields">
          <template slot="remove" slot-scope="data">
            <b-button @click="removeRow(data.item.id)" variant="danger" size="sm">X</b-button>
          </template>
        </b-table>
      </b-row>
    </b-container>

    <b-container class="bv-example-row">
      <b-row>
        <b-col>
          <b-pagination size="md" :total-rows="filasTotales" v-model="currentPage" :per-page="limit" @input="paginarEventos(currentPage)">
          </b-pagination>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
/* eslint-disable */
import {
  serviceEvento
} from '@/services/evento.js'
import {mapState, mapActions} from 'vuex'

export default {
  name: 'GridEventos',
  data () {
    return {
      filasTotales: 10,
      limit: 5,
      currentPage: 1,
      fields: [
        {
          key: 'id',
          label: 'Id',
          sortable: true
        },
        {
          key: 'nombre',
          label: 'Nombre',
          sortable: true
        },
        {
          key: 'fechaCreacion',
          label: 'Fecha',
          sortable: true
        },
        {
          key: 'remove',
          label: 'Eliminar'
        }
      ]
    }
  },
  computed: {
    ...mapState({eventos: state => state.Evento.eventos})
  },
  methods: {
    ...mapActions(['Evento/listarEventos', 'Evento/eliminarEvento']),
    paginarEventos (currentPage) {
      this['Evento/listarEventos']({pagina: currentPage, limite: this.limit})
    },
    removeRow (id) {
      this['Evento/eliminarEvento'](id)
    }
  },
  mounted () {
    serviceEvento.contar()
    .then((response) => {
      this.filasTotales = response.data.total
    })
    .catch((err) => {
      console.log(err)
    })
    this['Evento/listarEventos']({pagina: this.currentPage, limite: this.limit})
  }
}
</script>

<style lang="css" scoped>
</style>
