<template lang="html">
  <div class="">
    <h1>Acerca de la App</h1>
    <p>En desarrollo...</p>
  </div>
</template>

<script>
export default {
  name: 'About'
}
</script>

<style lang="css" scoped>
</style>
