<template lang="html">
  <div class="">
    <h3>Credenciales</h3>
    <AltaCredencial></AltaCredencial>
    <br>
    <TablaCredenciales></TablaCredenciales>
  </div>
</template>

<script>
import TablaCredenciales from '@/components/credenciales/TablaCredenciales.vue'
import AltaCredencial from '@/components/credenciales/AltaCredencial.vue'

export default {
  name: 'Credenciales',
  components: {
    TablaCredenciales, AltaCredencial
  }
}
</script>

<style lang="css" scoped>
</style>
