<template lang="html">
  <div class="">
    <h3>Lista de eventos</h3>
    <AltaEvento></AltaEvento>
    <br>
    <GridEventos></GridEventos>
  </div>
</template>

<script>
import GridEventos from '@/components/eventos/TablaEventos.vue'
import AltaEvento from '@/components/eventos/AltaEvento.vue'

export default {
  name: 'Eventos',
  components: {
    GridEventos, AltaEvento
  }
}
</script>

<style lang="css" scoped>
</style>
