<template lang="html">
  <div style="text-align:left">
    <h1>Bienvenido a la app Sistema de acceso</h1>
    <p>
      En está app podrás crear, eliminar y listar (con paginación) Eventos, Molinetes y Credenciales. Trata sobre la problemática de que en ciertos eventos, hay molinetes y
      cada persona deberá pasar con su credencial por el molinete. Por tanto, queda un registro del evento al que asistió y porque molinete pasó.

      El objetivo es crear un ejercicio demo fullstack con Flask (python) en backend y vuejs frontend.
      Todas las funcionalidades (ABMC) están en el menú App.
    </p>
    <p>
      Sin importarte el órden, el flujo es el siguiente.
      Primero deberá registrar Eventos, en el cuál tendrás que ingresar un nombre. Luego deberá crear credenciales
      que tienen un propietario (nombre y apellido de la persona) y por último crear Molinetes.
      No importa el órden de creación, lo importante es que sean creados para luego registrar una Lectura.
    </p>
    <p>
      Para registrar Lectura, deberá ingresar al menú App->Lecturas y presionar el botón Crear nueva lectura.
      Allí mismo podrá asignar una credencial, un molinete y un evento.
      Mediante el id de evento, credencial y molinete se va a crear un registro de Lectura. Tanto en el frontend como en el
      backend existen validaciones de las Lecturas de credenciales así como de Eventos y Molinetes.
      Si intenta enviar datos vacíos o que no existe al servidor, el mismo lanza un error que es atrapado por el cliente.
    </p>
    <p>
      Sin mas que decir, espero que disfrute de esta aplicación y ante cualquier duda, puedes escribirme... :-)
      <br>
      <br>
      O_/
      <br>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Smiley.svg/1024px-Smiley.svg.png" alt=""
      height="200px" width="200px">
    </p>

  </div>
</template>

<script>

export default {
  name: 'Home'
}
</script>

<style lang="css" scoped>
</style>
