<template lang="html">
  <div>
    <h3>Lectura de credenciales en eventos.</h3>
    <TablaLecturas></TablaLecturas>
    <br>
    <!-- <RegistrarLectura></RegistrarLectura> -->
    <ModalRegistrarLectura/>
  </div>
</template>

<script>
import TablaLecturas from '@/components/lectura/TablaLecturas.vue'
// import RegistrarLectura from '@/components/lectura/RegistrarLectura.vue'
import ModalRegistrarLectura from '@/components/lectura/ModalRegistrarLectura.vue'

export default {
  name: 'Lecturas',
  components: {
    TablaLecturas, ModalRegistrarLectura
  }
}
</script>

<style lang="css" scoped>
</style>
