<template lang="html">
  <div class="">
    <h3>Molinetes</h3>
    <AltaMolinete></AltaMolinete>
    <br>
    <TablaMolinetes></TablaMolinetes>
  </div>
</template>

<script>
import TablaMolinetes from '@/components/molinetes/TablaMolinetes.vue'
import AltaMolinete from '@/components/molinetes/AltaMolinete.vue'

export default {
  name: 'Molinetes',
  components: {
    TablaMolinetes, AltaMolinete
  }
}
</script>

<style lang="css" scoped>
</style>
